{{ if isset $.Params "tags" }}
{{ $tagsLen := len $.Params.tags }}
{{ if gt $tagsLen 0 }}
<div class="article-tags">
  {{ range $k, $v := $.Params.tags }}

	  {{ with ($.Site.GetPage (printf "lines-of-research/%s" .)) }}
	  <a class="btn btn-primary btn-outline btn-xs" href="{{ .Permalink }}">
	  	{{ $v }}
	  </a>
	  {{ else }}
	    {{ errorf "The `tags` parameter in the POST references a line of research that doesnt exist. Please either set `tags = []` or fix the reference." $.File.Path . }}
	  {{ end }}

  {{ end }}
</div>
{{ end }}
{{ end }}
